body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    gap: 35px;

    background: #d9d9d9;

    padding: 15px 25px;

    border-bottom: 1px solid #aaa;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.logo {
    width: 22px;
    height: 22px;

    border-radius: 50%;

    background: white;
}

/* MAIN LAYOUT */

.container {
    display: flex;
    min-height: 100vh;
}

/* LEFT SIDE */

.parts-section {
    width: 70%;
    padding: 25px;
}

/* SEARCH */

.search-bar {
    margin-bottom: 25px;
}

.search-bar input {
    width: 100%;

    padding: 12px;

    border: none;

    background: #ddd;
}

/* FILTERS */

.filters {
    display: flex;
    gap: 80px;

    margin-bottom: 30px;
}

.filters label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* GRID */

.parts-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

/* CARD */

.card {
    background: #ddd;

    padding: 15px;

    border-radius: 4px;
}

.card img {
    width: 100%;
    height: 180px;

    object-fit: contain;

    background: white;

    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-3px);

    transition: 0.2s;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.part-info {
    display: flex;
    gap: 15px;
}

.circle {
    width: 30px;
    height: 30px;

    border-radius: 50%;

    background: gray;

    margin-top: 5px;
}

.text {
    flex: 1;
}

.text h3 {
    margin: 0;
    font-size: 16px;
}

.text p {
    margin: 8px 0;
}

.card button {
    margin-top: 10px;
    float: right;
}

/* RIGHT SIDE */

.build-section {
    width: 30%;

    background: #efefef;

    padding: 25px;

    border-left: 1px solid #bbb;
}

.build-item {
    background: #ddd;

    padding: 12px;

    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BUTTONS */

button {
    border: none;

    padding: 8px 12px;

    cursor: pointer;

    background: #bbb;
}

button:hover {
    background: #999;
}