body {
    font-family: Arial;
    margin: 0;
    background-color: #f5f5f5;
}

.navbar {
    background: #d9d9d9;
    padding: 15px;
    display: flex;
    gap: 25px;
    border-bottom: 1px solid #aaa;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.container {
    display: flex;
    min-height: 100vh;
}


.parts-section {
    width: 70%;
    padding: 20px;
}

.build-section {
    width: 30%;
    background: #efefef;
    padding: 25px;
    border-left: 1px solid #bbb;
}