<!DOCTYPE html>
<html>
<head>
    <title>PC Builder</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

    <div class="logo"></div>

    <a href="/">Home</a>
    <a href="/?category=GPU">GPU</a>
    <a href="/?category=CPU">CPU</a>
    <a href="/?category=Motherboard">Motherboard</a>
    <a href="/?category=RAM">RAM</a>
    <a href="/?category=Storage">Storage</a>
    <a href="/?category=PSU">PSU</a>

</div>

<!-- MAIN -->

<div class="container">

    <!-- LEFT SIDE -->

    <div class="parts-section">

        <!-- SEARCH -->

        <div class="search-bar">

            <form method="GET" action="/">

                {% if request.args.get('category') %}
                <input
                    type="hidden"
                    name="category"
                    value="{{ request.args.get('category') }}"
                >
                {% endif %}

                <input
                    type="text"
                    name="search"
                    placeholder="Search by Part Name or Keyword"
                >

            </form>

        </div>

        <h2>Available Parts</h2>

        <!-- FILTERS -->

        <div class="filters">

            <div>
                <label>Sort By:</label>
                <input type="range">
            </div>

            <div>
                <label>Price Range:</label>
                <input type="range">
            </div>

        </div>

        <!-- PARTS -->

        <div class="parts-grid">

            {% for part in parts %}

            <div class="card">

                <img src="{{ part['Image'] }}">

                <div class="part-info">

                    <div class="circle"></div>

                    <div class="text">

                        <h3>{{ part["Part_Name"] }}</h3>

                        <p>{{ part["Category"] }}</p>

                        <hr>

                        <p>${{ part["Price"] }}</p>

                    </div>

                </div>

                <a href="{{ url_for('add_part', id=part['Part_ID']) }}">
                    <button>Add to Build</button>
                </a>

            </div>

            {% endfor %}

        </div>

    </div>

    <!-- RIGHT SIDE -->

    <div class="build-section">

        <h2>Your Current Build:</h2>

        <hr>

        {% for part in build_parts %}

        <div class="build-item">

            {{ part["Category"] }}:
            {{ part["Part_Name"] }}

            <a href="{{ url_for('remove_part', id=part['Part_ID']) }}">
                <button>Remove</button>
            </a>

        </div>

        {% endfor %}

        <h2>Total Est. Price:</h2>

        <h1>${{ total }}</h1>

        <a href="/reset">
            <button>Reset Build</button>
        </a>

    </div>

</div>

</body>
</html>